<template>
  <button
    type="button"
    class="view-toggle-button nav-link"
    :text="btnTxt"
    @click.prevent="onClick"
  >
    {{ btnTxt }}
  </button>
</template>

<script>
export default {
  name: 'ViewToggleBtn',
  computed: {
    btnTxt() {
      return this.$store.getters['ui/isGridView']
        ? 'View List'
        : 'View Grid';
    },
  },
  methods: {
    onClick() {
      this.$store.dispatch('ui/toggleGridView');
    },
  },
};
</script>
