@import 'common-imports';
@import 'base/reset';
@import 'base/typography';
@import 'base/form';
@import 'components/loading';
@import 'components/auth-page';
@import 'components/auth-form';
@import 'components/input-error-list';
@import 'components/parsed-movie-list';
@import 'components/queue-list';
@import 'components/queue-grid';
@import 'components/movie';
@import 'components/view-toggle-button';
@import 'components/offer-row';
@import 'components/provider-list';
@import 'components/provider-toggle';

body {
    font-weight: 300;
    font-family: $font-family-base;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.sr-only {
    @include sr-only();
}

header {
    padding: rhythm(0.5) rhythm(0.5) 0;
}

.nav-link {
    @include adjust-font-size-to(14px, 1);
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    margin: rhythm(0.25);
    color: #005E90;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.router-link-active {
    color: #475579;
    font-weight: 800;
    position: relative;

    &:after {
        content: ' ';
        display: block;
        height: 2px;
        width: 100%;
        background-color: #475579;
        position: absolute;
        bottom: rhythm(0.125);
    }
}

.main-title {
    margin-left: rhythm(0.25);
}

.import-page-wrapper-row {
    padding: rhythm(0.5);
}

.error {
    color: $color-error;
    font-weight: 400;
    margin-bottom: rhythm(1);
}
