<template>
  <section class="change-password-page auth-page container">
    <h1>Change Password</h1>
    <p v-if="success">
      Password change successful.
    </p>
    <form
      v-if="!success"
      class="auth-form"
      @submit.prevent="onSubmit"
    >
      <label for="password">
        Current Password
      </label>
      <input
        id="password"
        v-model.lazy="$v.password.$model"
        type="password"
        name="password"
        autocomplete="current-password"
      >
      <ul
        v-if="$v.password.$error"
        class="input-error-list"
      >
        <li v-if="!$v.password.validPassword">
          The server was unable to validate your entry.
        </li>
        <li v-if="!$v.password.required">
          Please enter a password.
        </li>
        <li v-if="!$v.password.minLength">
          The password must be at least
          {{ $v.password.$params.minLength.min }} characters.
        </li>
      </ul>
      <label for="newPassword">
        New Password
      </label>
      <input
        id="newPassword"
        v-model.lazy="$v.newPassword.$model"
        type="password"
        name="newPassword"
        autocomplete="new-password"
      >
      <ul
        v-if="$v.newPassword.$error"
        class="input-error-list"
      >
        <li v-if="!$v.newPassword.validNewPassword">
          The server was unable to validate your entry.
        </li>
        <li v-if="!$v.newPassword.required">
          Please enter a password.
        </li>
        <li v-if="!$v.newPassword.minLength">
          The password must be at least
          {{ $v.newPassword.$params.minLength.min }} characters.
        </li>
      </ul>
      <label for="confirmPassword">
        Confirm Password
      </label>
      <input
        id="confirmPassword"
        v-model="$v.confirmPassword.$model"
        type="password"
        name="confirmPassword"
        autocomplete="new-password"
      >
      <ul
        v-if="$v.confirmPassword.$error"
        class="input-error-list"
      >
        <li v-if="!$v.confirmPassword.sameAsPassword">
          The password and confirm-password must match
        </li>
      </ul>

      <button
        type="submit"
        class="auth-form__submit-btn"
      >
        Change Password
      </button>
      <div class="error">
        <p>{{ errorMessage }}</p>
        <ul class="errors">
          <li
            v-for="(item, index) in errors"
            :key="index"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </form>
    <div
      v-if="loadState === 'loading'"
      class="loading--placeholder"
    >
      Loading...
    </div>
  </section>
</template>

<script>
import { sameAs, required, minLength } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';

export default {
  name: 'ChangePassword',
  mixins: [validationMixin],
  props: {
    // eslint-disable-next-line vue/require-prop-types
    authService: {
      required: true,
    },
  },
  data: () => ({
    errorMessage: '',
    errors: [],
    password: '',
    newPassword: '',
    confirmPassword: '',
    serverValidPassword: true,
    serverValidNewPassword: true,
    loadState: '',
    success: false,
  }),
  validations: {
    password: {
      required,
      minLength: minLength(6),
      validPassword() {
        return this.serverValidPassword;
      },
    },
    newPassword: {
      required,
      minLength: minLength(6),
      validNewPassword() {
        return this.serverValidNewPassword;
      },
    },
    confirmPassword: {
      sameAsPassword: sameAs('newPassword'),
    },
  },
  methods: {
    handleInvalidParameterException(errorObj) {
      this.serverValidPassword = !errorObj.errors.some((x) => x.includes('previousPassword'));
      this.serverValidNewPassword = !errorObj.errors.some((x) => x.includes('proposedPassword'));
      this.$v.$touch();
    },
    async onSubmit(event) {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.loadState = 'loading';
      try {
        await this.authService.changePassword(this.password, this.newPassword);
        this.success = true;
      } catch (error) {
        const errorObj = await this.authService.parseSignupError(error);
        this.errors = [];
        this.errorMessage = '';
        switch (errorObj.code) {
          case 'NotAuthorizedException':
            this.errorMessage = 'Current Password does not match our records.';
            break;

          case 'InvalidParameterException':
            this.errorMessage = 'Invalid Input';
            this.errors = [...errorObj.errors];
            this.handleInvalidParameterException(errorObj);
            break;
          case 'ResourceNotFoundException':
            this.errorMessage = 'There was an error processing your request. Please try again later. [config]';
            break;
          case 'UserNotFoundException':
            this.errorMessage = 'An account with the supplied email was not found.';
            this.errors = [...errorObj.errors];
            this.handleInvalidParameterException(errorObj);
            break;
          default:
            this.errorMessage = 'There was an error processing your request. Please try again later.';
            break;
        }
      } finally {
        this.loadState = '';
      }
    },
  },
};
</script>
