<template>
  <section class="confirm-code-page auth-page container">
    <h1>Confirm Code</h1>
    <form
      class="auth-form"
      @submit.prevent="onSubmit"
    >
      <label for="email">
        Email
      </label>
      <input
        id="email"
        v-model.trim.lazy="email"
        type="text"
        name="email"
        autocomplete="email"
      >
      <ul
        v-if="!serverValidUsername"
        class="input-error-list"
      >
        <li v-if="!serverValidUsername">
          The server was unable to validate your entry.
        </li>
      </ul>
      <label for="code">
        Code
      </label>
      <input
        id="code"
        v-model.trim="code"
        type="text"
        name="code"
      >
      <ul
        v-if="!serverValidConfirmationCode"
        class="input-error-list"
      >
        <li v-if="!serverValidConfirmationCode">
          The server was unable to validate your entry.
        </li>
      </ul>
      <button
        type="submit"
        class="auth-form__submit-btn"
      >
        Confirm Code
      </button>
      <div class="error">
        <p>{{ errorMessage }}</p>
        <ul class="errors">
          <li
            v-for="(item, index) in errors"
            :key="index"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </form>
    <div
      v-if="loadState === 'loading'"
      class="loading--placeholder"
    >
      Loading...
    </div>
    <RouterLink
      :to="{ name: 'resendCode' }"
      class="nav-link"
    >
      Resend Code
    </RouterLink>
  </section>
</template>

<script>
import { LS_KEY_SIGNUP_EMAIL } from '../service/auth-service-const';

export default {
  name: 'ConfirmCode',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    authService: {
      required: true,
    },
  },
  data: () => ({
    loadState: '',
    code: '',
    email: '',
    errors: [],
    errorMessage: '',
    serverValidConfirmationCode: true,
    serverValidUsername: true,
  }),
  created() {
    const lsValue = localStorage.getItem(LS_KEY_SIGNUP_EMAIL);
    if (lsValue) {
      this.email = lsValue;
    }
  },
  methods: {
    handleInvalidParameterException(errorObj) {
      this.serverValidUsername = !errorObj.errors.some((x) => x.includes('username'));
      this.serverValidConfirmationCode = !errorObj.errors.some((x) => x.includes('confirmationCode'));
    },
    async onSubmit(event) {
      this.loadState = 'loading';
      try {
        await this.authService.confirmCode(this.email, this.code);
        this.$router.push('login');
      } catch (error) {
        const errorObj = await this.authService.parseSignupError(error);
        this.errors = [];
        this.errorMessage = '';
        switch (errorObj.code) {
          case 'InvalidParameterException':
            this.errorMessage = 'Invalid Input';
            this.errors = [...errorObj.errors];
            this.handleInvalidParameterException(errorObj);
            break;
          case 'ResourceNotFoundException':
            this.errorMessage = 'There was an error processing your request. Please try again later. [config]';
            break;
          case 'CodeMismatchException':
            this.errorMessage = 'Invalid verification code provided, please try again.';
            break;
          default:
            this.errorMessage = 'There was an error processing your request. Please try again later.';
            break;
        }
      } finally {
        this.loadState = '';
      }
    },
  },
};
</script>
