<template>
  <section class="import-page container">
    <div class="row import-page-wrapper-row">
      <h2>Import html</h2>
      <DomParserForm />
    </div>
  </section>
</template>

<script>
import DomParserForm from '../components/import/dom-parser-form';

export default {
  name: 'Import',
  components: {
    DomParserForm,
  },
};
</script>
