<template>
  <section class="movies-page">
    <div class="container queue-list-navigation">
      <div class="row queue-list__toggle-grid-row">
        <ViewToggleBtn />
      </div>
      <div class="row queue-list__filter-row">
        <RouterLink
          :to="{ name: 'queue', params: { filter: 'canstream' } }"
          class="nav-link"
        >
          Can Stream ({{ canStreamLength }})
        </RouterLink>
        <RouterLink
          :to="{ name: 'queue', params: { filter: 'canrent' } }"
          class="nav-link"
        >
          Can Rent ({{ canRentLength }})
        </RouterLink>
        <RouterLink
          :to="{ name: 'queue', params: { filter: 'notfound' } }"
          class="nav-link"
        >
          Not Found ({{ notFoundLength }})
        </RouterLink>
        <RouterLink
          :to="{ name: 'queue', params: { filter: 'nothing' } }"
          class="nav-link"
        >
          Can't ({{ nothingLength }})
        </RouterLink>
        <RouterLink
          :to="{ name: 'queue', params: { filter: 'notset' } }"
          class="nav-link"
        >
          Not Set ({{ notSetLength }})
        </RouterLink>
        <RouterLink
          :to="{ name: 'queue', params: { filter: 'all' } }"
          class="nav-link"
        >
          All ({{ allLength }})
        </RouterLink>
      </div>
      <ul
        v-if="showFilters"
        class="row provider-list"
      >
        <li
          v-for="item in providers"
          :key="item.id"
        >
          <ProviderToggle
            :id="item.id"
            :name="item.name"
          />
        </li>
      </ul>
    </div>
    <QueueList
      v-if="!isGridView"
      :items="items"
    />
    <QueueGrid
      v-if="isGridView"
      :items="items"
    />
  </section>
</template>

<script>
import Vue from 'vue';
import QueueList from '../components/queue/queue-list';
import ProviderToggle from '../components/queue/provider-toggle';
import {
  getProvidersByType,
  STREAM,
  RENT,
} from '../components/queue/providers';
import ViewToggleBtn from '../components/view-toggle-btn';

const QueueGrid = () => ({
  component: import(/* webpackChunkName: "queue-grid" */ '../components/queue/queue-grid'),
  loading: Vue.component('loading', {
    template: '<div class="loading--placeholder">Loading...</div>',
  }),
  error: Vue.component('errror', {
    template: '<p class="error">Error Loading Component</p>',
  }),
  delay: 0,
  timeout: 3000,
});

export default {
  name: 'Movies',
  components: {
    QueueList,
    QueueGrid,
    ProviderToggle,
    ViewToggleBtn,
  },
  data: () => ({
    filter: 'canstream',
  }),
  computed: {
    isGridView() {
      return this.$store.getters['ui/isGridView'];
    },
    items() {
      const getters = {
        all: 'queue/items',
        set: 'queue/populatedItems',
        notset: 'queue/unpopulatedItems',
        notfound: 'queue/notFoundItems',
        canstream: 'queue/streamableItems',
        canrent: 'queue/rentableItems',
        nothing: 'queue/nothingItems',
      };
      return this.$store.getters[getters[this.$route.params.filter]];
    },
    providers() {
      switch (this.$route.params.filter) {
        case 'canstream':
          return getProvidersByType(STREAM);
        case 'canrent':
          return getProvidersByType(RENT);
        default:
          return getProvidersByType();
      }
    },
    showFilters() {
      return (
        this.$route.params.filter === 'canstream'
                || this.$route.params.filter === 'canrent'
      );
    },
    allLength() {
      return this.$store.getters['queue/items'].length;
    },
    notSetLength() {
      return this.$store.getters['queue/unpopulatedItems'].length;
    },
    canStreamLength() {
      return this.$store.getters['queue/streamableItems'].length;
    },
    canRentLength() {
      return this.$store.getters['queue/rentableItems'].length;
    },
    nothingLength() {
      return this.$store.getters['queue/nothingItems'].length;
    },
    notFoundLength() {
      return this.$store.getters['queue/notFoundItems'].length;
    },
  },
  created() {
    if (!this.$route.query.noreload) {
      this.$store.dispatch('queue/fetchItems');
    }
  },
};
</script>
