<template>
  <section class="resend-code-page auth-page container">
    <h1>Resend Code</h1>
    <form
      class="auth-form"
      @submit.prevent="onSubmit"
    >
      <label for="email">
        Email
      </label>
      <input
        id="email"
        v-model.trim.lazy="$v.email.$model"
        type="text"
        name="email"
        autocomplete="email"
      >
      <ul
        v-if="$v.email.$error"
        class="input-error-list"
      >
        <li v-if="!$v.email.validUsername">
          The server was unable to validate your entry.
        </li>
        <li v-if="!$v.email.required">
          Please enter a valid email address
        </li>
        <li v-if="!$v.email.email">
          Please enter a valid email address
        </li>
      </ul>

      <button
        type="submit"
        class="auth-form__submit-btn"
      >
        Resend Code
      </button>
      <div class="error">
        <p>{{ errorMessage }}</p>
        <ul class="errors">
          <li
            v-for="(item, index) in errors"
            :key="index"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </form>
    <div
      v-if="loadState === 'loading'"
      class="loading--placeholder"
    >
      Loading...
    </div>
    <RouterLink
      :to="{ name: 'confirm' }"
      class="nav-link"
    >
      Confirm Code
    </RouterLink>
    <RouterLink
      :to="{ name: 'signup' }"
      class="nav-link"
    >
      Sign Up
    </RouterLink>
  </section>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import { LS_KEY_SIGNUP_EMAIL } from '../service/auth-service-const';

export default {
  name: 'ResendCode',
  mixins: [validationMixin],
  props: {
    // eslint-disable-next-line vue/require-prop-types
    authService: {
      required: true,
    },
  },
  data: () => ({
    errorMessage: '',
    errors: [],
    email: 'test1@donsuhr.com',
    serverValidUsername: true,
    loadState: '',
  }),
  validations: {
    email: {
      required,
      email,
      validUsername() {
        return this.serverValidUsername;
      },
    },
  },
  created() {
    const lsValue = localStorage.getItem(LS_KEY_SIGNUP_EMAIL);
    if (lsValue) {
      this.email = lsValue;
    }
  },
  methods: {
    handleInvalidParameterException(errorObj) {
      this.serverValidUsername = !errorObj.errors.some((x) => x.toLowerCase().includes('username'));
      this.$v.$touch();
    },
    async onSubmit(event) {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.loadState = 'loading';
      try {
        await this.authService.resendCode(this.email);
        localStorage.setItem(LS_KEY_SIGNUP_EMAIL, this.email);
        this.$router.push('confirm');
      } catch (error) {
        const errorObj = await this.authService.parseSignupError(error);
        this.errors = [];
        this.errorMessage = '';
        switch (errorObj.code) {
          case 'InvalidParameterException':
            this.errorMessage = 'Invalid Input';
            this.errors = [...errorObj.errors];
            this.handleInvalidParameterException(errorObj);
            break;
          case 'ResourceNotFoundException':
            this.errorMessage = 'There was an error processing your request. Please try again later. [config]';
            break;
          case 'UserNotFoundException':
            this.errorMessage = 'An account with the supplied email was not found.';
            this.errors = [...errorObj.errors];
            this.handleInvalidParameterException(errorObj);
            break;
          default:
            this.errorMessage = 'There was an error processing your request. Please try again later.';
            break;
        }
      } finally {
        this.loadState = '';
      }
    },
  },
};
</script>
