<template>
  <section class="reset-password-page auth-page container">
    <h1>Reset Password</h1>
    <form
      v-if="!success"
      class="auth-form"
      @submit.prevent="onSubmit"
    >
      <label for="email">
        Email
      </label>
      <input
        id="email"
        v-model.trim.lazy="email"
        type="text"
        name="email"
        autocomplete="email"
      >
      <ul
        v-if="$v.email.$error"
        class="input-error-list"
      >
        <li v-if="!$v.email.email">
          Please enter a valid email address
        </li>
        <li v-if="!$v.email.required">
          Please enter the code sent to the supplied email.
        </li>
      </ul>
      <label for="code">
        Code
      </label>
      <input
        id="code"
        v-model.trim="code"
        type="text"
        name="code"
      >
      <ul
        v-if="$v.code.$error"
        class="input-error-list"
      >
        <li v-if="!$v.code.validCode">
          The server was unable to validate your entry.
        </li>
        <li v-if="!$v.code.required">
          Please enter the code sent to the supplied email.
        </li>
      </ul>
      <label for="newPassword">
        New Password
      </label>
      <input
        id="newPassword"
        v-model.lazy="$v.newPassword.$model"
        type="password"
        name="newPassword"
        autocomplete="new-password"
      >
      <ul
        v-if="$v.newPassword.$error"
        class="input-error-list"
      >
        <li v-if="!$v.newPassword.validNewPassword">
          The server was unable to validate your entry.
        </li>
        <li v-if="!$v.newPassword.required">
          Please enter a password.
        </li>
        <li v-if="!$v.newPassword.minLength">
          The password must be at least
          {{ $v.newPassword.$params.minLength.min }} characters.
        </li>
      </ul>
      <label for="confirmPassword">
        Confirm Password
      </label>
      <input
        id="confirmPassword"
        v-model="$v.confirmPassword.$model"
        type="password"
        name="confirmPassword"
        autocomplete="new-password"
      >
      <ul
        v-if="$v.confirmPassword.$error"
        class="input-error-list"
      >
        <li v-if="!$v.confirmPassword.sameAsPassword">
          The password and confirm-password must match
        </li>
      </ul>

      <button
        type="submit"
        class="auth-form__submit-btn"
      >
        Submit
      </button>
      <div class="error">
        <p>{{ errorMessage }}</p>
        <ul class="errors">
          <li
            v-for="(item, index) in errors"
            :key="index"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </form>
    <div
      v-if="loadState === 'loading'"
      class="loading--placeholder"
    >
      Loading...
    </div>
  </section>
</template>

<script>
import {
  sameAs, required, minLength, email,
} from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import { LS_KEY_SIGNUP_EMAIL } from '../service/auth-service-const';

export default {
  name: 'ChangePassword',
  mixins: [validationMixin],
  props: {
    // eslint-disable-next-line vue/require-prop-types
    authService: {
      required: true,
    },
  },
  data: () => ({
    errorMessage: '',
    errors: [],
    email: '',
    code: '',
    newPassword: '',
    confirmPassword: '',
    serverValidNewPassword: true,
    serverValidConfirmationCode: true,
    loadState: '',
    success: false,
  }),
  validations: {
    email: {
      required,
      email,
    },
    code: {
      required,
      validCode() {
        return this.serverValidConfirmationCode;
      },
    },
    newPassword: {
      required,
      minLength: minLength(6),
      validNewPassword() {
        return this.serverValidNewPassword;
      },
    },
    confirmPassword: {
      sameAsPassword: sameAs('newPassword'),
    },
  },
  created() {
    const lsValue = localStorage.getItem(LS_KEY_SIGNUP_EMAIL);
    if (lsValue) {
      this.email = lsValue;
    }
  },
  methods: {
    handleInvalidParameterException(errorObj) {
      this.serverValidNewPassword = !errorObj.errors.some((x) => x.includes('password'));
      this.$v.$touch();
    },
    async onSubmit(event) {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.loadState = 'loading';
      try {
        await this.authService.resetPassword(
          this.email,
          this.code,
          this.newPassword,
        );
        this.$router.push('login');
      } catch (error) {
        const errorObj = await this.authService.parseSignupError(error);
        this.errors = [];
        this.errorMessage = '';
        switch (errorObj.code) {
          case 'ExpiredCodeException':
            this.errorMessage = 'The code supplied is incorrect or no longer valid.';
            break;
          case 'InvalidParameterException':
            this.errorMessage = 'Invalid Input';
            this.errors = [...errorObj.errors];
            this.handleInvalidParameterException(errorObj);
            break;
          case 'ResourceNotFoundException':
            this.errorMessage = 'There was an error processing your request. Please try again later. [config]';
            break;
          default:
            this.errorMessage = 'There was an error processing your request. Please try again later.';
            break;
        }
      } finally {
        this.loadState = '';
      }
    },
  },
};
</script>
