<template>
  <section class="signup-page auth-page container">
    <h1>Sign Up</h1>
    <form
      class="auth-form"
      @submit.prevent="onSubmit"
    >
      <label for="email">
        Email
      </label>
      <input
        id="email"
        v-model.trim.lazy="$v.email.$model"
        type="text"
        name="email"
        autocomplete="email"
      >
      <ul
        v-if="$v.email.$error"
        class="input-error-list"
      >
        <li v-if="!$v.email.validUsername">
          The server was unable to validate your entry.
        </li>
        <li v-if="!$v.email.required">
          Please enter a valid email address
        </li>
        <li v-if="!$v.email.email">
          Please enter a valid email address
        </li>
      </ul>

      <label for="password">
        Password
      </label>
      <input
        id="password"
        v-model.lazy="$v.password.$model"
        type="password"
        name="password"
        autocomplete="new-password"
      >
      <ul
        v-if="$v.password.$error"
        class="input-error-list"
      >
        <li v-if="!$v.password.validPassword">
          The server was unable to validate your entry.
        </li>
        <li v-if="!$v.password.required">
          Please enter a password.
        </li>
        <li v-if="!$v.password.minLength">
          The password must be at least
          {{ $v.password.$params.minLength.min }} characters.
        </li>
      </ul>
      <label for="confirmPassword">
        Confirm Password
      </label>
      <input
        id="confirmPassword"
        v-model="$v.confirmPassword.$model"
        type="password"
        name="confirmPassword"
        autocomplete="new-password"
      >
      <ul
        v-if="$v.confirmPassword.$error"
        class="input-error-list"
      >
        <li v-if="!$v.confirmPassword.sameAsPassword">
          The password and confirm-password must match
        </li>
      </ul>
      <button
        type="submit"
        class="auth-form__submit-btn"
      >
        Sign Up
      </button>
      <div class="error">
        <p>{{ errorMessage }}</p>
        <ul class="errors">
          <li
            v-for="(item, index) in errors"
            :key="index"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </form>
    <div
      v-if="loadState === 'loading'"
      class="loading--placeholder"
    >
      Loading...
    </div>
    <RouterLink
      :to="{ name: 'confirm' }"
      class="nav-link"
    >
      Confirm Code
    </RouterLink>
  </section>
</template>

<script>
import {
  email, required, minLength, sameAs,
} from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import { LS_KEY_SIGNUP_EMAIL } from '../service/auth-service-const';

export default {
  name: 'SignUp',
  mixins: [validationMixin],
  props: {
    // eslint-disable-next-line vue/require-prop-types
    authService: {
      required: true,
    },
  },
  data: () => ({
    errorMessage: '',
    errors: [],
    email: '',
    password: '',
    confirmPassword: '',
    serverValidUsername: true,
    serverValidPassword: true,
    loadState: '',
  }),
  validations: {
    email: {
      required,
      email,
      validUsername() {
        return this.serverValidUsername;
      },
    },
    password: {
      required,
      minLength: minLength(6),
      validPassword() {
        return this.serverValidPassword;
      },
    },
    confirmPassword: {
      sameAsPassword: sameAs('password'),
    },
  },
  methods: {
    handleInvalidParameterException(errorObj) {
      this.serverValidUsername = !errorObj.errors.some((x) => x.includes('username'));
      this.serverValidPassword = !errorObj.errors.some((x) => x.includes('password'));
      this.$v.$touch();
    },
    async onSubmit(event) {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.loadState = 'loading';
      try {
        await this.authService.signUp(this.email, this.password);
        localStorage.setItem(LS_KEY_SIGNUP_EMAIL, this.email);
        this.$router.push('confirm');
      } catch (error) {
        const errorObj = await this.authService.parseSignupError(error);
        this.errors = [];
        this.errorMessage = '';
        switch (errorObj.code) {
          case 'InvalidParameterException':
            this.errorMessage = 'Invalid Input';
            this.errors = [...errorObj.errors];
            this.handleInvalidParameterException(errorObj);
            break;
          case 'ResourceNotFoundException':
            this.errorMessage = 'There was an error processing your request. Please try again later. [config]';
            break;
          default:
            this.errorMessage = 'There was an error processing your request. Please try again later.';
            break;
        }
      } finally {
        this.loadState = '';
      }
    },
  },
};
</script>
