form {
    width: 100%;
    margin-bottom: rhythm(1);
}

textarea {
    width: 100%;
    height: rhythm(8);
    border: 1px solid $border-color;
}

label {
    @include adjust-font-size-to(16px, 1);
    display: block;
}

button {
    @include adjust-font-size-to(16px, 1);
}

textarea, select, input {
    @include adjust-font-size-to(16px, 1);
    @include rhythm-borders(1px, 0.125, $border-color);
    font-weight: 300;
}
