@import '../helpers/compass-altered/reset/utilities';

@include global-reset();

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main:focus {
    outline: none;
}

strong,
b {
    font-weight: 400;
}

em {
    font-style: italic;
}
