$base-font-size: 16px;
$base-line-height: 26px;
$rhythm-unit: 'px';
$grid-gutter-width: $base-line-height;

$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
$border-color: #d3d9de;

$grid-breakpoints: (
    xs: 0,
    sm: 420px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$color-error: #FF0033;
$default-rhythm-border-style: solid $border-color;
