$loading-bg-color: #666666;
$loading-text-color: #ffffff;
$loading-background-color: rgba(0, 0, 0, 0.5);

.loading,
.loading--placeholder {
    @include adjust-font-size-to(16px, 3);
    @include rhythm-borders(1px, 1);
    border-radius: 0.5em;
    border-color: $loading-bg-color;
    color: $loading-text-color;
    display: block;
    text-align: center;
    position: absolute;
    min-width: rhythm(5.5);
    width: auto;
    height: rhythm(3.5);
    top: 0;
    left: 0;
    background: $loading-background-color url('../images/sprite_loading_v2.gif')
        no-repeat 50% rhythm(0.5);
    z-index: 1000;
}

.loading--placeholder {
    left: 50%;
    top: 50%;
    margin-left: - rhythm(5.5 / 2);
    margin-top: - rhythm(3.5 / 2);
}

.loading--submenu {
    position: static;
    margin: auto;
}
