/** postcss-bem-linter: define movie */

.movie {
    position: relative;
}

.movie__content {
    overflow: hidden;
    transition: all 0.3s;
}

.movie__title {
    @include adjust-font-size-to(18px, 1);
    font-weight: 500;
    margin-bottom: rhythm(0.5);
}

.movie__box-image-wrapper--width {
    display: block;
    margin: 0 0 rhythm(0.5) 0;
    border: 1px solid $border-color;
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
    width: 100%;

    @include media-breakpoint-up(sm) {
        margin: 0 rhythm(0.5) rhythm(0.5) 0;
        // https://secure.netflix.com/us/boxshots/166/70295915.jpg
        // width: 166px;
        // height: 236px;
    }

    @include media-breakpoint-up(lg) {
        // https://secure.netflix.com/us/boxshots/ghd/80097526.jpg
        width: 284px;
        // height: 405px;
    }
}

.movie__box-image-wrapper--proportion {
    padding-top: calc(405 / 284 * 100%); //percentage((120/88));
    position: relative;
    height: 0;
}

.movie__box-image {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
}

.movie__service-availability-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto rhythm(0.25);
    height: 100%;
    width: rhythm(1.5);

    @include media-breakpoint-up(lg) {
        width: rhythm(2);
    }
}

.movie__service-availability-icon__img {
    max-width: 100%;
    display: block;
}

.movie__service-availability-icon__price {
    @include adjust-font-size-to(12px, 0.5);
    text-align: center;
}

.movie__runtime,
.movie__short-description {
    @include adjust-font-size-to(16px, 0.75);
    margin-bottom: rhythm(1);
}

.movie__scores {
    margin-bottom: rhythm(1);
}

.movie__score {
    @include adjust-font-size-to(16px, 0.75);
}

.movie__refresh-button {
    &:not([hidden]) {
        display: block;
    }
    margin-bottom: rhythm(1);

    &:disabled {
        opacity: 0.5;
    }
}

.movie__update-date {
    @include adjust-font-size-to(16px, 0.75);
    margin-bottom: rhythm(1);

    &:empty {
        display: none;
    }
}

.movie__not-found-notice {
    @include adjust-font-size-to(16px, 0.75);
    margin-bottom: rhythm(1);
}

.movie__toggle-info-btn {
    text-indent: rhythm(1);
    overflow: hidden;
    width: rhythm(1);
    height: rhythm(1);
    background: transparent url('../images/round-info-button.svg') no-repeat top left;
    background-origin: content-box;
    background-size: contain;
    margin: 0;
    padding: rhythm(0.125);
    border: 0;
    float: right;
    @include media-breakpoint-up(md) {
        display: none;
    }
}

.movie__sub-title--scores {
    margin-bottom: rhythm(0.5);

}

.movie__manual-override {
    &:not([hidden]) {
        display: block;
    }
    margin-bottom: rhythm(1);

    label { /* stylelint-disable-line plugin/selector-bem-pattern */
        @include adjust-font-size-to(16px, 0.75);
        display: inline-block;
    }

    input { /* stylelint-disable-line plugin/selector-bem-pattern */
        @include adjust-font-size-to(16px, 0.75);
        display: inline-block;
    }
}

.movie__justwatch-link {
    @include adjust-font-size-to(12px, 1);
    margin-bottom: rhythm(1);
}

.movie--removing {
    opacity: 0.2;
}
