$not-available-color: #ff0000;

.offer-row__not-available {
    @include adjust-font-size-to(12px, 0.5);
    margin-left: rhythm(1);
    font-weight: 600;
    color: $not-available-color;
}

.offer-row {
    display: flex;
    margin-bottom: rhythm(1);
    flex-wrap: wrap;
    max-width: rhythm(10);
}

.offer-row__item {
    flex: 1;
    margin-bottom: rhythm(0.25);
}
