/** postcss-bem-linter: define provider-toggle */

.provider-toggle {
    color: #ffffff;
    background: linear-gradient(#6496c8, #346392);
    box-shadow: inset 0 0 0 1px #27496d;
    border: 0;
    border-radius: 0.6em;
    font-weight: lighter;
    transition: all 0.28s;
    margin: 0 6px 6px;
}

.provider-toggle[aria-pressed='true'] { /* stylelint-disable-line plugin/selector-bem-pattern */
    box-shadow: inset 0 0 0 1px #192a40, inset 0 5px 30px #0c131e;
    color: #cccccc;
}
