/** postcss-bem-linter: define provider-list */

.provider-list {
    margin-bottom: 26px;
    padding: 0 13px;
    /* stylelint-disable plugin/selector-bem-pattern */
    li {
        display: inline-block;
    }
}
