.queue-list {
    max-width: 1024px;
    display: grid;
    grid-gap: rhythm(0.5);
    grid-template-columns: repeat(1, 1fr);
    margin: 0 rhythm(0.5);
    @include media-breakpoint-up(sm) {
        margin: 0 rhythm(1);
        grid-gap: rhythm(1);
        grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-up(xl) {
        margin: 0 auto;
    }
}

.queue-list__filter-row {
    @include clearfix();
    padding: 0 rhythm(0.5);
    margin-bottom: rhythm(0.5);
}

.queue-list__toggle-grid-row {
    padding: 0 rhythm(0.5);
}
