<template>
  <div class="dom-parser-form">
    <form>
      <label for="import">
        Paste HTML below
      </label>
      <textarea
        id="import"
        v-model="dirtyHtml"
        name="import"
        @input="onTextAreaInput"
      />
      <button
        type="submit"
        @click.prevent="onButtonClick"
      >
        Submit
      </button>
    </form>
    <ParsedMovieList />
    <div
      v-if="parsing"
      class="loading--placeholder"
    >
      Parsing...
    </div>
    <div
      v-if="putting"
      class="loading--placeholder"
    >
      Posting...
    </div>
  </div>
</template>

<script>
import sanitizeHtml from 'sanitize-html';
import ParsedMovieList from './parsed-movie-list';

export default {
  name: 'DomParserForm',
  components: {
    ParsedMovieList,
  },
  data: () => ({
    dirtyHtml: '',
    parsing: false,
  }),
  computed: {
    putting() {
      return this.$store.state.parsedMovies.putting;
    },
  },

  methods: {
    onTextAreaInput(event) {
      this.parsing = true;
      setTimeout(() => {
        const tempEl = document.createElement('div');
        tempEl.innerHTML = sanitizeHtml(this.dirtyHtml, {
          allowedTags: ['div', 'span', 'a', 'li', 'ul'],
          allowedAttributes: {
            a: ['href'],
            '*': ['class', 'data-id'],
          },
        });
        const ret = { items: [] };
        const items = tempEl.querySelectorAll(
          '.queue-item, .savedlist > li:not(.heading)',
        );
        items.forEach((x) => {
          ret.items.push({
            title: x.querySelector('.title a').textContent,
            netflixId: x.getAttribute('data-id'),
          });
        });
        this.$store.dispatch('parsedMovies/setItems', ret.items);
        this.parsing = false;
      }, 500);
    },
    onButtonClick(event) {
      this.$store.dispatch('parsedMovies/putItems');
    },
  },
};
</script>
