<template>
  <ul class="parsed-movie-list">
    <li
      v-for="item in items"
      :key="item.netflixId"
      class="parsed-movie-list__item"
    >
      <p class="parsed-movie-list__item__title">
        {{ item.title }}
      </p>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'ParsedMovieList',
  computed: {
    items() {
      return this.$store.state.parsedMovies.items;
    },
  },
};
</script>
