<!DOCTYPE html>
<html lang="en">
<head>
    <meta
        http-equiv="Content-type"
        content="text/html; charset=utf-8"
    />
    <meta
        name="viewport"
        content="width=device-width,initial-scale=1.0"
    >
    <meta name="description" content="A nice list of places I can stream items in my queue from. Get outta here.">
    <meta name="robots" content="noindex, nofollow">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= process.env.NODE_ENV === 'production' ? '/projects/queue': '' %>/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= process.env.NODE_ENV === 'production' ? '/projects/queue': '' %>/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= process.env.NODE_ENV === 'production' ? '/projects/queue': '' %>/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= process.env.NODE_ENV === 'production' ? '/projects/queue': '' %>/site.webmanifest">
    <link rel="mask-icon" href="<%= process.env.NODE_ENV === 'production' ? '/projects/queue': '' %>/icons/safari-pinned-tab.svg" color="#2d89ef">
    <meta name="apple-mobile-web-app-title" content="Queue">
    <meta name="application-name" content="Queue">
    <meta name="msapplication-config" content="<%= process.env.NODE_ENV === 'production' ? '/projects/queue': '' %>/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div
    id="app"
></div>
<!-- data-base="<%= process.env.NODE_ENV === 'production' ? '/queue/dist/' : '/' %>" -->
</body>
</html>
