<template>
  <div :class="{ movie: true, 'movie--removing': removing }">
    <div class="movie__box-image-wrapper--width">
      <div class="movie__box-image-wrapper--proportion">
        <img
          :data-src="
            `https://assets.nflxext.com/us/boxshots/ghd/${netflixId}.jpg`
          "
          :data-srcset="
            `https://assets.nflxext.com/us/boxshots/88/${netflixId}.jpg 88w,
                        https://assets.nflxext.com/us/boxshots/166/${netflixId}.jpg 166w,
                        https://assets.nflxext.com/us/boxshots/ghd/${netflixId}.jpg 284w`
          "
          alt=""
          class="movie__box-image lazyload"
        >
      </div>
    </div>
    <div class="movie__title-container">
      <button
        type="button"
        class="movie__toggle-info-btn"
        @click.prevent="onToggleInfoClick"
      >
        More Info
      </button>
      <h2 class="movie__title">
        {{ title }}
        <span v-if="hasFullJustwatchResponse">
          ({{ justwatchResponse.original_release_year }})
        </span>
      </h2>
    </div>
    <div
      ref="movie__content"
      class="movie__content"
    >
      <p
        v-if="hasNotFoundJustwatchResponse"
        class="movie__not-found-notice"
      >
        Not Found
      </p>
      <div v-if="hasFullJustwatchResponse">
        <h3>Stream</h3>
        <OfferRow
          :offers="justwatchResponse.offers"
          offer-type="flatrate"
        />
        <h3>Ads</h3>
        <OfferRow
          :offers="justwatchResponse.offers"
          offer-type="ads"
        />
        <h3>Rent</h3>
        <OfferRow
          :offers="justwatchResponse.offers"
          offer-type="rent"
        />
        <h3 class="movie__sub-title--scores">
          Scores
        </h3>
        <div class="movie__scores">
          <p class="movie__score movie__score--imdb">
            imdb: {{ imdbScore }}
          </p>
          <p class="movie__score movie__score--mc">
            metacritic: {{ mcScore }}%
          </p>
          <p class="movie__score movie__score--mc">
            rotentomatoes: {{ rtScore }}% / {{ rtUserScore }}%
          </p>
        </div>
        <p class="movie__runtime">
          {{ justwatchResponse.runtime }}min
        </p>
        <p class="movie__short-description">
          {{ justwatchResponse.short_description }}
        </p>
        <p class="movie__justwatch-link">
          <a
            :href="justwatchUrl"
            target="_blank"
            rel="noopener"
          >
            source
          </a>
        </p>
      </div>
      <div
        :hidden="!authenticated"
        class="movie__manual-override"
      >
        <label :for="justwatchInputId">
          Manual Override
        </label>
        <input
          :id="justwatchInputId"
          v-model="justwatchIdInputVal"
          :disabled="!authenticated"
          type="text"
        >
        <br>
        <label :for="justwatchObjTypeId">
          Object Type
        </label>
        <select
          :id="justwatchObjTypeId"
          v-model="justwatchObjTypeVal"
        >
          <option value="">
            Select...
          </option>
          <option value="movie">
            movie
          </option>
          <option value="show_season">
            show_season
          </option>
        </select>
      </div>
      <p
        v-if="typeof fetching === 'object'"
        class="error"
      >
        {{ fetching.message }}
      </p>
      <button
        :hidden="!authenticated"
        :disabled="!authenticated"
        type="button"
        class="movie__refresh-button"
        @click.prevent="onRefreshClicked"
      >
        {{ buttonText }}
      </button>
      <p class="movie__update-date">
        {{ updatedText }}
      </p>
    </div>
    <div
      v-if="fetching === true"
      class="loading--placeholder"
    >
      Refreshing...
    </div>
  </div>
</template>

<script>
/* global process */

import debounce from 'lodash.debounce';
import OfferRow from './offer-row';

export default {
  name: 'Movie',
  components: {
    OfferRow,
  },
  props: {
    justwatchResponse: {
      type: Object,
      default() {
        return null;
      },
    },
    title: {
      type: String,
      required: true,
    },
    netflixId: {
      type: String,
      required: true,
    },
    updatedAt: {
      type: String,
      required: true,
    },
    justwatchId: {
      type: String,
      required: false,
      default: '',
    },
    removing: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    showing: false,
    debouncedOnWindowResize: null,
    isBig: false,
    isProduction: process.env.NODE_ENV === 'production',
    justwatchIdInputVal: '',
    justwatchObjTypeVal: '',
  }),
  computed: {
    authenticated() {
      return this.$store.getters['authenticated/isAuthenticated'];
    },
    fetching() {
      return this.$store.getters['queue/justwatchFetching'](this.netflixId);
    },
    imdbScore() {
      return this.getScore('imdb:score');
    },
    mcScore() {
      return this.getScore('metacritic:score');
    },
    rtScore() {
      return this.getScore('tomato:meter');
    },
    rtUserScore() {
      return this.getScore('tomato_userrating:meter');
    },
    buttonText() {
      return this.justwatchResponse ? 'Refresh' : 'Populate';
    },
    updatedText() {
      const months = [
        'Jan',
        'Feb',
        'Mar',
        'April',
        'May',
        'June',
        'July',
        'Aug',
        'Sept',
        'Oct',
        'Nov',
        'Dec',
      ];
      const updatedAt = new Date(this.updatedAt);
      if (this.justwatchResponse) {
        return `Updated ${
          months[updatedAt.getMonth()]
        } ${updatedAt.getDate()} ${updatedAt.getFullYear()} - ${updatedAt.getHours()}:${updatedAt.getMinutes()}`;
      }
      return '';
    },
    hasFullJustwatchResponse() {
      return (
        this.justwatchResponse
        && !Object.hasOwnProperty.call(this.justwatchResponse, 'notFound')
      );
    },
    hasNotFoundJustwatchResponse() {
      return (
        this.justwatchResponse
        && Object.hasOwnProperty.call(this.justwatchResponse, 'notFound')
      );
    },
    justwatchUrl() {
      return `https://www.justwatch.com${this.justwatchResponse.full_path}`;
    },
    justwatchInputId() {
      return `justwatchId-${this.netflixId}`;
    },
    justwatchObjTypeId() {
      return `justwatchObjTypeId-${this.netflixId}`;
    },
  },
  mounted() {
    this.debouncedOnWindowResize = debounce(this.resizeContent, 500);
    window.addEventListener('resize', this.debouncedOnWindowResize);
    this.resizeContent();
    this.justwatchIdInputVal = this.justwatchId;
    this.justwatchObjTypeVal = this.justwatchResponse && this.justwatchResponse.object_type
      ? this.justwatchResponse.object_type
      : '';
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.debouncedOnWindowResize);
  },
  methods: {
    getHeight() {
      return new Promise((resolve, reject) => {
        const copy = this.$refs.movie__content.cloneNode(true);
        const width = this.$refs.movie__content.offsetWidth;
        copy.style.cssText = `visibility:hidden;position:absolute;top:0;width:${width}px`;
        // copy.style.cssText = `position:absolute;top:0;width:${width}px;`;
        const allImagesLoaded = () => {
          const imgs = Array.from(copy.querySelectorAll('img'));
          return imgs.length === 0 || imgs.every((x) => x.complete);
        };
        const imgListener = () => {
          if (allImagesLoaded()) {
            // eslint-disable-next-line no-use-before-define
            onAllImagesLoaded();
          }
        };
        const onAllImagesLoaded = () => {
          copy.querySelectorAll('img').forEach((x) => {
            x.removeEventListener('load', imgListener);
          });
          const height = copy.offsetHeight;
          document.body.removeChild(copy);
          resolve(height);
        };
        copy.querySelectorAll('img').forEach((x) => {
          x.addEventListener('load', imgListener);
        });
        document.body.appendChild(copy);
        imgListener();
      });
    },
    resizeContent() {
      this.isBig = window.matchMedia('(min-width: 768px)').matches;
      if (!this.isBig) {
        if (this.showing) {
          this.getHeight().then((height) => {
            this.$refs.movie__content.style.height = `${height}px`;
          });
        } else {
          this.$refs.movie__content.style.height = '0px';
        }
      } else {
        this.$refs.movie__content.style.height = 'auto';
      }
    },
    onRefreshClicked(event) {
      const params = {
        netflixId: this.netflixId,
        objectType: this.justwatchObjTypeVal,
      };
      if (this.justwatchId !== this.justwatchIdInputVal) {
        params.justwatchId = this.justwatchIdInputVal;
        if (this.justwatchIdInputVal.trim() === '') {
          params.justwatchId = 'unset';
        }
      }
      return this.$store.dispatch('queue/justwatch', params);
    },
    onToggleInfoClick(event) {
      this.showing = !this.showing;
      this.resizeContent();
    },
    getScore(type) {
      const hasScore = this.justwatchResponse && this.justwatchResponse.scoring;
      if (hasScore) {
        const data = 'length' in this.justwatchResponse.scoring
          ? this.justwatchResponse.scoring
          : Object.values(this.justwatchResponse.scoring);
        const score = data.find((x) => x.provider_type === type);
        if (score && score.value) {
          return score.value;
        }
      }
      return '?';
    },
  },
};
</script>
