<template>
  <ul class="offer-row">
    <li v-if="items.length === 0">
      <span class="offer-row__not-available">
        n/a
      </span>
    </li>
    <li
      v-for="offer in items"
      :key="offer.providerId"
      class="offer-row__item"
    >
      <ProviderIcon
        v-bind="offer"
        :offer-type="offerType"
      />
    </li>
  </ul>
</template>

<script>
import ProviderIcon from './provider-icon';

import { isProviderIncluded } from './providers';

export default {
  name: 'OfferRow',
  components: {
    ProviderIcon,
  },
  props: {
    offers: {
      type: [Array, Object],
      default() {
        return [];
      },
    },
    offerType: {
      type: String,
      required: true,
    },
  },
  computed: {
    items() {
      return Object.values(this.offers)
        .filter((x) => x.monetization_type === this.offerType)
        .filter((x) => isProviderIncluded(x.provider_id))
        .reduce((acc, x) => {
          // show cheapest price from provider
          const index = acc.findIndex((y) => y.provider_id === x.provider_id);
          if (index === -1) {
            acc.push(x);
          } else if (acc[index].retail_price > x.retail_price) {
            acc.splice(index, 1, x);
          }
          return acc;
        }, []);
    },
  },
};
</script>
