<template>
  <div class="movie__service-availability-icon">
    <img
      :src="src"
      :alt="providerName"
      class="movie__service-availability-icon__img"
    >
    <p
      v-if="offerType === 'rent'"
      class="movie__service-availability-icon__price"
    >
      {{ retail_price }}
    </p>
    <p
      v-if="offerType === 'ads'"
      class="movie__service-availability-icon__price"
    >
      Ads
    </p>
  </div>
</template>

<script>
/* global require */
import { getProviderIcon, getProviderName } from './providers';

export default {
  name: 'ProviderIcon',
  props: {
    // eslint-disable-next-line vue/prop-name-casing
    provider_id: {
      type: Number,
      required: true,
    },
    urls: {
      type: Object,
      required: true,
    },
    // eslint-disable-next-line vue/prop-name-casing
    retail_price: {
      type: Number,
      required: false,
      default: 0,
    },
    offerType: {
      type: String,
      required: true,
    },
  },
  computed: {
    providerName() {
      return getProviderName(this.provider_id);
    },
    src() {
      try {
        return getProviderIcon(this.provider_id).default;
      } catch (e) {
        /* eslint-disable-next-line no-console */
        console.error('missing provider id', this.provider_id, this.urls);
        // eslint-disable-next-line global-require
        return require('@/images/question-mark-button.svg');
      }
    },
  },
};
</script>
