<template>
  <button
    :aria-pressed="active"
    :aria-label="ariaLabel"
    type="button"
    class="provider-toggle"
    @click.prevent="onClick"
  >
    {{ name }}
  </button>
</template>

<script>
export default {
  name: 'ProviderToggle',
  props: {
    name: {
      type: String,
      required: true,
    },
    id: {
      type: Number,
      required: true,
    },
  },
  computed: {
    active() {
      return this.$store.getters['providerToggle/providerEnabled'](
        this.id,
      );
    },
    ariaLabel() {
      return `${this.active ? 'disable' : 'enable'} ${this.name}`;
    },
  },
  methods: {
    onClick(event) {
      this.$store.dispatch('providerToggle/setProviderEnabledState', {
        id: this.id,
        enabled: !this.active,
      });
    },
  },
};
</script>
