<template>
  <div>
    <AgGridVue
      class="ag-theme-balham"
      :column-defs="columnDefs"
      :row-data="prepedItems"
      :suppress-cell-selection="true"
      style="width: 100%; max-width: 1040px; margin: auto"
      dom-layout="autoHeight"
      @first-data-rendered="onFirstDataRendered"
    />
    <div
      v-if="fetching"
      class="loading--placeholder"
    >
      Loading...
    </div>
    <p
      v-if="typeof fetching === 'object'"
      class="error"
    >
      {{ fetching.message }}
    </p>
  </div>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue';
import QueueGridImgCell from './queue-grid-img-cell';
import externalLinkSvg from '@/images/external-link.svg';

const linkRenderer = (params) => `
        <a href="${params.data.link}" target="_blank" rel="noopener">
            <img width="22" height="22" src="${externalLinkSvg}"/>
        </a>
        `;

export default {
  name: 'QueueGrid',
  components: {
    AgGridVue,
    QueueGridImgCell, // eslint-disable-line vue/no-unused-components
  },
  props: {
    items: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data: () => ({
    columnDefs: [
      {
        headerName: '',
        field: 'netflixId',
        cellRendererFramework: 'QueueGridImgCell',
        autoHeight: true,
        width: 120,
        suppressSizeToFit: true,
      },

      {
        headerName: 'Title',
        field: 'title',
        sortable: true,
      },
      {
        headerName: 'link',
        field: 'link',
        width: 50,
        cellRenderer: linkRenderer,
        suppressSizeToFit: true,
      },

      {
        headerName: 'cinema_release_date',
        field: 'cinema_release_date',
        sortable: true,
        width: 100,
      },
      {
        headerName: 'original_language',
        field: 'original_language',
        filter: true,
        width: 50,
      },
      {
        headerName: 'rtScore',
        field: 'rtScore',
        sortable: true,
        width: 50,
      },
      {
        headerName: 'rtUserScore',
        field: 'rtUserScore',
        sortable: true,
        width: 50,
      },
      {
        headerName: 'compScore',
        field: 'compScore',
        sortable: true,
        width: 60,
      },
    ],
  }),
  computed: {
    fetching() {
      return this.$store.state.queue.fetching;
    },
    prepedItems() {
      return this.items.map((x) => {
        x.justwatchResponse = x.justwatchResponse || {};
        const ret = {
          title: x.title,
          img: `https://assets.nflxext.com/us/boxshots/ghd/${x.netflixId}.jpg`,
          original_language: x.justwatchResponse.original_language,
        };
        if (x.justwatchResponse.cinema_release_date) {
          ret.cinema_release_date = x.justwatchResponse.cinema_release_date;
        } else if (x.justwatchResponse.original_release_year) {
          ret.cinema_release_date = `${x.justwatchResponse.original_release_year}-00-00`;
        }

        const rtScore = x.justwatchResponse.scoring
          && Object.values(x.justwatchResponse.scoring).find(
            (y) => y.provider_type === 'tomato:meter',
          );
        ret.rtScore = rtScore ? rtScore.value : '?';

        const rtUserScore = x.justwatchResponse.scoring
          && Object.values(x.justwatchResponse.scoring).find(
            (y) => y.provider_type === 'tomato_userrating:meter',
          );
        ret.rtUserScore = rtUserScore ? rtUserScore.value : '?';

        const scores = [];
        if (rtScore) {
          scores.push(parseInt(rtScore.value, 10));
        }
        if (rtUserScore) {
          scores.push(parseInt(rtUserScore.value, 10));
        }
        const mcScore = x.justwatchResponse.scoring
          && Object.values(x.justwatchResponse.scoring).find(
            (y) => y.provider_type === 'metacritic:score',
          );
        if (mcScore) {
          scores.push(parseInt(mcScore.value, 10));
        }
        const imdbScore = x.justwatchResponse.scoring
          && Object.values(x.justwatchResponse.scoring).find(
            (y) => y.provider_type === 'imdb:score',
          );
        if (imdbScore) {
          scores.push(parseFloat(imdbScore.value) * 10);
        }
        ret.compScore = scores.reduce((acc, y, i, arr) => {
          const retVal = acc + y;
          if (i === arr.length - 1) {
            return parseFloat(retVal / arr.length).toFixed(1);
          }
          return retVal;
        }, 0);
        ret.link = `https://www.justwatch.com${x.justwatchResponse.full_path}`;
        return ret;
      });
    },
  },
  methods: {
    onFirstDataRendered(params) {
      params.api.sizeColumnsToFit();
    },
  },
};
</script>
<style lang="scss">
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';
</style>
