<template>
  <div>
    <ul class="queue-list">
      <li
        v-for="item in items"
        :key="item.netflixId"
      >
        <Movie v-bind="item" />
      </li>
    </ul>
    <div
      v-if="fetching"
      class="loading--placeholder"
    >
      Loading...
    </div>
    <p
      v-if="typeof fetching === 'object'"
      class="error"
    >
      {{ fetching.message }}
    </p>
  </div>
</template>

<script>
import LazyLoad from 'lazyload';
import Movie from './movie';

export default {
  name: 'QueueList',
  components: {
    Movie,
  },
  props: {
    items: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  computed: {
    fetching() {
      return this.$store.state.queue.fetching;
    },
  },
  updated() {
    // eslint-disable-next-line no-new
    new LazyLoad();
  },
  mounted() {
    // eslint-disable-next-line no-new
    new LazyLoad();
  },
};
</script>
