<template>
  <main>
    <header class="container">
      <h1 class="main-title">
        Queue
      </h1>
      <nav>
        <RouterLink
          :to="{ name: 'queue'}"
          class="nav-link"
        >
          List
        </RouterLink>
        <RouterLink
          v-if="authenticated === true"
          :to="{ name: 'import'}"
          class="nav-link"
        >
          Import
        </RouterLink>
        <RouterLink
          v-if="authenticated === false"
          :to="{ name: 'login'}"
          class="nav-link"
        >
          Login
        </RouterLink>
        <RouterLink
          v-if="authenticated === true"
          :to="{ name: 'changePassword'}"
          class="nav-link"
        >
          Change Password
        </RouterLink>
        <RouterLink
          v-if="authenticated === true"
          :to="{ name: 'logout'}"
          class="nav-link"
        >
          Logout
        </RouterLink>
      </nav>
    </header>

    <RouterView />
  </main>
</template>

<script>
export default {
  name: 'App',
  computed: {
    authenticated() {
      return this.$store.getters['authenticated/isAuthenticated'];
    },
  },
};
</script>
